[user]
	email = joxyuki@gmail.com
	name = JO Hiroyuki
[core]
	editor = nvim
[merge]
	ff = false
[pull]
	ff = only
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	co = checkout
	st = status
	d = diff
	dc = diff --cached
	d1 = diff HEAD~
	d2 = diff HEAD~2
	br = branch
[gitreview]
	username = joxyuki
[url "https://"]
	insteadOf = git://
[push]
	default = simple
