[user]
	email = jo.hiroyuki@lab.ntt.co.jp
	name = Hiroyuki JO
[core]
	editor = nvim
[merge]
	ff = false
[pull]
	ff = only
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[gitreview]
	username = joxyuki
